<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stockform.css">
    <title>Document</title>
</head>
<body>
    
        <div class="container">
           <h1>Add Stocks Warehouse</h1>
        <form action="/stocks/add-stocks" method="POST">
            <div class="FormAdd">
                <label for="sku">SKU Product :</label>
                <input type="number" name="sku" id="sku" class="input">
            </div>
    
            <div class="FormAdd">
               
                <label for="products_name">Products_name</label>:</label>
                <input type="text" name="products_name" id="products_name" class="input">
            </div>
    
            <div class="FormAdd">
                <label for="quantity">Quantity :</label>
                <input type="number" name="quantity" id="quantity" class="input">
            </div>
            <div class="FormAdd">
                <label for="category">Cathegory</label>
               <select name="category" class="input" >
                   <option value="drinks">Drinks</option>
                   <option value="foods">Foods</option>
                   <option value="others">others</option>
               </select>
            </div>
            <div class="FormAdd">
                <label for="price"> Price :</label>
                <input type="number" name="price" id="number" class="input">
            </div>
            <div class="FormAdd">
            
               <input type="submit">
    
              
            </div class="FormAdd">
        </form>
    </div>
</body>
</html>